<form [formGroup]='cardForm'>
    <app-input [control]="cardForm.get('name')" label="Name"></app-input>
    <app-input [control]="cardForm.get('cardNumber')" label="Card Number"></app-input>
    <app-input [control]="cardForm.get('expiration')" label="Expiration"></app-input>
    <app-input [control]="cardForm.get('securityCode')" label="Security Code"></app-input>
</form>
<hr>
<div>Form: {{ cardForm.value | json}}</div>
<div>valid: {{cardForm.valid}}</div>
<div>Errors: {{cardForm.controls.name.errors | json}} </div>