<div class="field">
    <label lass="label">{{label}}</label>
    <div class="control">
        <input [formControl]="control" class="input" [ngClass]="{'is-danger': showErrors()}">
    </div>
    <ng-container *ngIf="showErrors()">
        <div class="help is-danger" *ngIf="control.errors.required">
            Value is required
        </div>
        <div class="help is-danger" *ngIf="control.errors.minlength">
            Min value length required {{control.errors.minlength.requiredLength}}
        </div>
        <div class="help is-danger" *ngIf="control.errors.maxlength">
            Max value length required {{control.errors.maxlength.requiredLength}}
        </div>
        <div class="help is-danger" *ngIf="control.errors.pattern">
            Invalid Format
        </div>
    </ng-container>
</div>