<input [formControl]="control">
<ng-container *ngIf=" control.dirty && control.touched && control.errors">
    <div *ngIf="control.errors.required">
        Value is required
    </div>
    <div *ngIf="control.errors.minlength">
        Min value length required {{control.errors.minlength.requiredLength}}
    </div>
    <div *ngIf="control.errors.maxlength">
        Max value length required {{control.errors.maxlength.requiredLength}}
    </div>
    <div *ngIf="control.errors.pattern">
        Invalid Format
    </div>
</ng-container>